html, body {
    height:100%;
    padding:0;
    margin:0;
}

body {
    padding:0;
    margin:0;
    background-color: #fff;
    display:grid;
    justify-items: center;
    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

img {
    align-self: end;
}

span {
    align-self: start;
}